<form class="example-form" #inputTestForm="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      value="Sushi"
      required
      [(ngModel)]="modelInput"
      name="modelInput"
      #modelInputNgMain="ngModel"
      appNoRInString
      [appEmailValidator]="true"
    />
    <mat-error>
      {{ modelInputNgMain.errors | validationErrorParser }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  <app-app-input [(ngModel)]="modelInputChiled" name="childName" label="childLabel" [email]=true [required]=true/>
  <app-app-input [(ngModel)]="modelInputChiled2" name="childName2" label="childLabel2" [required]=true />
  <button matButton type="submit" [disabled]="inputTestForm.form.invalid">submit</button>
</form>
