<form class="example-form" #inputTestForm="ngForm" (ngSubmit)="send()">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input
      matInput
      placeholder="Ex. Pizza"
      value="Sushi"
      required
      [(ngModel)]="modelInput"
      name="modelInput"
      #modelInputNgMain="ngModel"
      appNoRInString
      [appEmailValidator]="true"
    />
    <mat-error>
      {{ modelInputNgMain.errors | validationErrorParser }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  <app-app-input
    [(ngModel)]="modelInputChiled"
    name="childName"
    label="childLabel"
    required
    email
  />
  <app-app-input
    [(ngModel)]="modelInputChiled2"
    name="childName2"
    label="childLabel2"
    required
    appNoRInString
  />
  <app-select
    ngModel
    name="select"
    [options]="options()"
  >

  </app-select>
  <app-adress [(adress)]="adress" />
  <button matButton type="submit" [disabled]="!inputTestForm.form.valid">submit</button>
</form>

<form class="example-form" #inputTestForm2="ngForm">
  <app-app-input [(ngModel)]="modelInputChiled3" name="childName3" label="childLabel3" required />
</form>
