.app-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "topbar"
    "content-sidebar";
}

.topbar {
  grid-area: topbar;
  overflow: hidden;
}

.left-toolbar-container {
  display: flex;
  align-items: center;
  gap: 16px;

  mat-form-field {
    margin-top: 20px;
  }
}

.flag-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.top-actions {
  display: flex;
  align-items: center;
  gap: 16px;

  mat-icon {
    color: var(--mat-sys-on-primary, #000000);
  }
}

mat-toolbar {
  background: var(--mat-sys-primary, #ffffff);
  color: var(--mat-sys-on-primary, #000000);

  mat-icon,
  button {
    color: var(--mat-sys-on-primary, #000000);
  }
}

.sidenav-container {
  grid-area: content-sidebar;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidenav content";
}

.sidenav {
  border-radius: 0%;
  grid-area: sidenav;
  width: 240px;
  background: var(--mat-sys-primary-container, #fff);
  color: var(--mat-sys-on-primary-container, #fff);
}

.nav-item {
  border-radius: 0%;

  mat-icon,
  div {
    color: var(--mat-sys-on-primary-container, #fff);
  }
}

.content {
  grid-area: content;
  overflow: auto;
  padding: 1.25rem;
  background: var(--mat-sys-surface, #ffffff);
  color: var(--mat-sys-on-surface, #000000);
}

.content-inner {
  margin-bottom: 4rem;
}

.theme-logo {
  margin-right: 10px;
  cursor: pointer;
  position: relative;

  mat-icon {
    position: absolute;
    top: -10px;
    left: -10px;
  }
}

.moon-enter-animation {
  animation: slide-fade ease-in 1s;
}

.moon-leave-animation {
  animation: slide-top-fade 1s reverse;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sun-enter-animation {
  animation: slide-fade ease-in 1s;
}

.sun-leave-animation {
  animation: slide-top-fade 1s reverse;
}

@keyframes slide-top-fade {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}