<div class="app-grid">
  <header class="topbar">
    <mat-toolbar>
      <div class="left-toolbar-container">
        @if(connected) {
        <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle navigation" class="hamburger">
          <mat-icon>menu</mat-icon>
        </button>
        }
        <span>Fun with Angular</span>
        <mat-form-field>
          <mat-select #languageSelect (valueChange)="languageChanged($event)">
            <mat-select-trigger>
              @let selCountry = selectedCountry();
              <div class="flag-selected">
                <div [style.background-image]="'url(img/' + selCountry.img  + '_mini.webp)'" class="selected-image">
                </div><span>{{ selCountry?.label }}</span>
              </div>
            </mat-select-trigger>
            @for(country of countries; track country.code) {
            <mat-option [value]="country.code">
              <div class="flag-option">
                <img ngSrc="img/{{country.img}}.webp" alt="{{ country.label }} flag" class="flag-icon" width="24"
                  height="16" alt="{{country.label}} flag" priority="false">
                <p>{{ country.label }}</p>
              </div>
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <span class="spacer"></span>
      <nav class="top-actions">
        <button mat-button>Login</button>
        <div class="theme-logo">
          @if(currentTheme() === 'light') {
          <mat-icon animate.enter="moon-enter-animation" animate.leave="moon-leave-animation"
            (click)="switchTheme('dark')">dark_mode</mat-icon>
          } @else {
          <mat-icon animate.enter="sun-enter-animation" animate.leave="sun-leave-animation"
            (click)="switchTheme('light')">light_mode</mat-icon>
          }
        </div>
      </nav>
    </mat-toolbar>
  </header>

  <mat-sidenav-container class="sidenav-container">
    @if(connected) {
    <mat-sidenav #drawer mode="side" opened class="sidenav" role="navigation">
      <mat-nav-list>
        @for (item of appRoutes; track item.path) {
        <mat-list-item [routerLink]="item.path" class="nav-item">
          <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
          <div>{{ item.title }}</div>
        </mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>
    }

    <mat-sidenav-content class="content" role="main">
      <main class="content-inner">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>