/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './_theme-colors' as themeColors;

html {
	@include mat.theme((
		color-scheme: light dark,
		color: (
		  primary: themeColors.$primary-palette,
		  tertiary: themeColors.$tertiary-palette,
		),
		// typography: (
		// 	font-family: Roboto, 
        // 	brand-family: Open Sans,
      	// 	bold-weight: 900,
      	// 	medium-weight: 500,
      	// 	regular-weight: 300,
		// ),
		density: 0
	));
}

html, body, app-root {
	height: 100%;
	margin: 0;
}

body {
	font-family: Inter, Roboto, 'Helvetica Neue', Arial, sans-serif;
}
