/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body, app-root {
	height: 100%;
	margin: 0;
}

body {
	font-family: Inter, Roboto, 'Helvetica Neue', Arial, sans-serif;
	background: #f5f6fb;
}
